<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Block</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Add Block</h1>
        <form th:action="@{/blocks/add}" th:object="${block}" method="post" class="form-container">
            <label for="blockName">Block Name:</label>
            <input type="text" id="blockName" th:field="*{blockName}" required />
            <div th:if="${#fields.hasErrors('blockName')}" th:errors="*{blockName}" class="error"></div>

            <button type="submit" class="button">Save</button>
        </form>
        <a href="/blocks" class="button back">Back to Blocks</a>
    </div>
</body>
</html>
