<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blocks</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1 class="page-title">Blocks</h1>
        
        <!-- Адмінські кнопки -->
        <div th:if="${isAdmin}">
            <a href="/blocks/add" class="button add-button">Add Block</a>
        </div>
        
        <!-- Повідомлення для користувачів без прав адміністратора -->
        <div th:if="${!isAdmin}" class="warning-message">
            <p style= "color: #b61d1d;" >Note: You are in view-only mode. Admin rights are required for modifications.</p>
        </div>
        
        <!-- Таблиця для блоку -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Block Name</th>
                    <th th:if="${isAdmin}">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="block : ${blocks}">
                    <td th:text="${block.blockId}"></td>
                    <td th:text="${block.blockName}"></td>
                    <td th:if="${isAdmin}">
                        <a th:href="@{/blocks/edit/{id}(id=${block.blockId})}" class="button edit">Edit</a>
                        <a th:href="@{/blocks/delete/{id}(id=${block.blockId})}" class="button delete">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <a href="/home" class="button back">Back to Home</a>
    </div>
</body>
</html>
