<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Residents</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1 class="page-title">Residents</h1>
        
        <div th:if="${isAdmin}">
            <a href="/residents/add" class="button add-button">Add Resident</a>
        </div>
        
        <div th:if="${!isAdmin}" class="warning-message">
            <p style= "color: #b61d1d;" >Note: You are in view-only mode. Admin rights are required for modifications.</p>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Room</th>
                    <th th:if="${isAdmin}">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="resident : ${residents}">
                    <td th:text="${resident.residentId}"></td>
                    <td th:text="${resident.fullName}"></td>
                    <td th:text="${resident.room.roomNumber}"></td>
                    <td th:if="${isAdmin}">
                        <a th:href="@{/residents/edit/{id}(id=${resident.residentId})}" class="button edit">Edit</a>
                        <a th:href="@{/residents/delete/{id}(id=${resident.residentId})}" class="button delete">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <a href="/home" class="button back">Back to Home</a>
    </div>
</body>
</html>
